* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}
body {
  background-color: #6f61c0;
  font-family: "Poppins", sans-serif;
}

#login-page {
  margin: auto;
  width: 800px;
  /* height: 700px;  */
  background-color: aliceblue;
  margin-top: 50px;
  display: flex;
}
#signup-page {
  background-color: aqua;
  display: none;
}
#content {
  background-color: aliceblue;
  margin-left: 15px;
  margin-top: 50px;
}
#head {
  font-weight: 500px;
  margin-bottom: 10px;
}
#para {
  color: #61677a;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
}
#textuser,
#password {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  padding-left: 20px;
}
/* #textuser,
#password:hover {
  border: #6528f7;
} */

#sign-in {
  width: 322px;
  height: 30px;

  border-radius: 5px;
  background-color: #6528f7;
  color: aliceblue;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}
#sign-in:hover {
  color: yellow;
}
#validname {
  display: none;
  color: red;
  font-size: 12px;
}
#validpass {
  display: none;
  color: red;
  font-size: 12px;
}
#sign {
  color: #61677a;
  margin-top: 10px;
}
#register {
  color: #6528f7;
  cursor: pointer;
}
#label {
  font-size: 14px;
}
